body {
	font-family: 'Times New Roman', sans-serif;
}
.container {
	display: flex;
	flex-wrap: wrap;
}
.menu {
	width: 15%;
}
.portfolio {
	width: 85%;
}
.photo {
	width: 100%;
	clear: both;
}
.photo img {
	float: left
}